body{
font-family:Arial;
margin:0;
}

.gradient{
background:linear-gradient(135deg,#6a5af9,#8e54e9);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.login-card{
background:white;
padding:30px;
border-radius:12px;
width:300px;
text-align:center;
}

input{
width:100%;
padding:10px;
margin:8px 0;
}

button{
width:100%;
padding:10px;
margin-top:8px;
background:#6a5af9;
color:white;
border:none;
border-radius:6px;
}

.google{
background:#db4437;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#6a5af9;
color:white;
}

.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
padding:20px;
}

.card{
background:white;
padding:30px;
border-radius:12px;
box-shadow:0 5px 10px rgba(0,0,0,0.1);
text-align:center;
  }
